name: Unit test

on:
  pull_request:
    branches: main
  push:
    branches: main

jobs:
  build:
    name: unit test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Install uv
      uses: astral-sh/setup-uv@3

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: uv sync --all-extras --dev

    - name: Running Unit tests
      run: uv run pytest tests/ --doctest-modules --cov=src --cov-report=xml

    - name: Code Coverage Summary Report
      uses: irongut/CodeCoverageSummary@v1.3.0
      with:
        filename: coverage.xml
        badge: true
        format: 'markdown'
        output: 'both'
    
    - name: Write to Job Summary
      run: cat code-coverage-results.md >> $GITHUB_STEP_SUMMARY